@page "/weather"
@attribute [StreamRendering]

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Temp. (C)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in posts)
            {
                <tr>
                    <td>@post.Title</td>
                    <td>@post.Content</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Post[] posts;
    protected override async Task OnInitializedAsync()
    {
        using var httpClient = new HttpClient();
        httpClient.DefaultRequestHeaders.Authorization =
        new System.Net.Http.Headers.AuthenticationHeaderValue(
            "Bearer",
            "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiJiOGZmY2U5MC05MGQ4LTQ4MzItYmY0Ni1mYTNhYTdmZmMyNWMiLCJ1bmlxdWVfbmFtZSI6ImFtMTk5NiIsInJvbGUiOiJVc2VyIiwibmJmIjoxNzQ1NDQzOTQwLCJleHAiOjE3NTMyMTk5NDAsImlhdCI6MTc0NTQ0Mzk0MCwiaXNzIjoiWCIsImF1ZCI6IlhEUVdFQSJ9.H7RSp9K-RSzY8B7M1fBQV7b-jUYSMIp6GaoFtApVIAY"
        );
        string posts = await httpClient.GetAsync("http://localhost:5118/api/post/").Result.Content.ReadAsStringAsync();
        Console.WriteLine(posts);
    }
    public class Post {
        required public int Id { get; set; }
        required public string Title { get; set; }
        required public string Content { get; set; }
        required public DateTime CreatedAt { get; set; }
        required public DateTime UpdatedAt { get; set; }
        required public string UserId { get; set; }
    }
}
